 .jumbotron {
	margin-bottom: 0;
	background-image: url(image/logo-banner2.png);
	background-repeat: no-repeat;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	width: auto;
	z-index: 10;
	text-align: center;
	margin-top: 0px;
	height: 185px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 25px;
	padding-left: 5px;
	color: #000;
  }
.navbar.navbar-inverse {
	color: #000;
}

  
 .affix {
	top: 0;
	width: 100%;
	z-index: 9999;
  }
  
  footer {
	background-color: #000;
	padding: 20px;
	color: #FFF;
	width: 100%;
  }
  
.container {

}
.content {
	background-color: #FFF;
	padding: 25px;
	margin: 25px;
}
.container-fluid {
	background-color: #000;
}
